/*DECLARAR COLORES*/

@font-face {
    font-family: 'Arvo';
    src: url('Arvo-Bold.woff');
}

@font-face {
    font-family: 'MyriadProB';
    src: url('MyriadPro-Bold.woff');
}

@font-face {
    font-family: 'MyriadProR';
    src: url('MyriadPro-Regular.woff');
}

:root { --color: #007bc4;
        --color-light: #00a4e0;
        --gray: #535e6b;
}

.left{
  float: left;
}

.right{
  float: right;
}

.navbar-default{
  background-color: white;
}
 .login{
   background: var(--color);
  color: white !important;
  padding: 10px 35px !important;
 }
.nav-pills{
}
.register{
  color: var(--color) !important;

}
#main-navigation > li{
  float: none;
}
#main-navigation > li > a{
  color: white !important;
  text-transform: uppercase;
}
.dropdown-menu a{ text-transform: uppercase; }

#main-navigation{
  background-color: var(--color);
  color: white !important;
  height: calc(100vh - 58px);
  width: 235px;
}
.navbar-brand-logo img{
  max-height: none;
  width: 450px;

}
.navbar-default, .header_view{
  border:none;
  margin-top: 1.5em;
  padding: 0 3em 1em;
}
.navbar-header .site-name{
  margin: auto;
}
.site-name a{
  padding: 0;
}

.btn-default, .form-control{
  float: left;
}
.form-control{
  border: 2px var(--color) solid !important;
  width: 100% !important;
}

.form-group{
  width: 65%;
}

.btn-default{
  /*width: min-content;
  background: var(--color);
  color: white;
  border: var(--color);*/
}

.galley-link{
      display: inline-block;
    padding: 0 1em;
    background: #fff;
    border: 1px solid #007bc4;
    border-radius: 3px;
    font-size: 13px;
    line-height: 28px;
    color: #007bc4;
    text-decoration: none;
    margin-right: 1em;
}
.galley-link:hover, .galley-link:focus {
    background: #007bc4;
    color: #fff;
}

.journal-description{
  padding: 0 70px;
}

.navbar-form{
  background-color: #535e6b;
  margin: 0;
  padding: 10% 10% 10% 10%;
}

.navbar-collapse{
  padding: 0;
}

.btn-default, li{

}

.password-recovery{
margin: 1em;
}
.linea{
  height: 8px;
  background:#007bc4;
  width:100%;
}
.container {
  margin: 0;
  width: 100%;
  padding: 0;
  margin-bottom: 175px;
}
.pkp_structure_main{
  width: calc( 100% - 235px);
  padding: 0;

}
.current_issue{
  padding: 0px 70px;
}

.glyphicon-chevron-right:before,.glyphicon-chevron-left:before{
color:#007bc4;
}

.footer{
  position: fixed;
  bottom: 0;
  height: 150px;
  margin-top: 0 !important;
  width: 100%;
  background-color: #535e6b !important;
  border-bottom: 8px solid #007bc4;
}

a{
  text-align: center;
}

li:hover, li > a:hover {
  background-color: var(--color-light) !important;
}

.footer p{
  font-size: .9em;
  margin-bottom: .1em;
  color: white;
  

}
.img-logo{
  float:right;
}

.telefono{
  margin-top: 2em;
  line-height: 1em;

}
.phone_{
  border-radius: 50%;
  background: white;
  color:#535e6b;
  font-size: 1.7em;
  width: 1.7em;
  line-height: 1.7em;
  text-align: center;
  height: 1.7em;
}
.num-tel{
  margin-left: 1em;
}
.carousel .img-responsive{
  width: 100%;
  max-height: 400px;
}


.dropdown-menu{
  left: 100%;
  top: 0%;
}

.compendium-numero-actual{
    display: -webkit-flex; 
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
     -webkit-flex-wrap: wrap; 
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
     flex-wrap: wrap; 
         flex-wrap: nowrap;
}
.compendium-numero-actual .info-actual{
      width: auto;
    -ms-align-self: flex-start;
    align-self: flex-start;
}
.cover img {
  max-width: none !important;
    width: 200px;
}
.compendium-publicaciones{
  margin-left: 23px;
}

.page_announcements, .page_issue, .page_issue_archive, .page_about, .page_editorial_team, 
.page_submissions, .page_contact, .page_register, .page_login, .page_lost_password, .page_search{
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.issues-compendium .media-left{
      display: initial;
      padding: 0;
}
.issues-compendium img{
 width: 200px;
 max-width: none;
}
.issues-compendium{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.issues-compendium .issue-summary{
    display: flex;
    flex-direction: column;
    align-items: center;
        flex: 0 1 32%;
    margin: 0 0.66%;
}

.issues-compendium .series{
  text-align: center;
}

@media (min-width: 1301px) {
  .pkp_structure_main {
    padding: 0 10px;
  }
  .carousel .img-responsive{
    min-height: 500px;
  }

}