/*DECLARAR COLORES*/
:root { --color: #007bc4; }

.left{
  float: left;
}

.right{
  float: right;
}

.navbar-default{
  background-color: white;
}
 .login{
   background: var(--color);
   color: white !important;
 }
.nav-pills{
  margin-top: 50px;
}
.register{
  color: var(--color) !important;
}
#main-navigation > li{
  float: none;
}
#main-navigation > li > a{
  color: white !important;
}

#main-navigation{
  background-color: var(--color);
  color: white !important;
  height: 100vh;
}

.navbar-brand-logo img{
  max-height: none;
}
