@media (max-width: 767px){
	.pkp_structure_main{
		width: 100%;
	}
	.current_issue, .journal-description {
	    padding: 0px 10px;
	}
	#main-navigation{
		width: 100%;
		height: inherit;
		margin:0;
		background: #007bc4 !important;
	}
	.telefono{
		margin-top: 0;
	}

	header > .right{
		float: left;
	}

	.mynavbar{
		float: right;
		width: 100%;
	}

	.pkp_structure_page > .mynavbar{
		display: none;
	}

	.site-name img{
		display: none;
	}

	.mynavbar .navbar-header{
	  display: block;
	}

	.left > nav {
	  display: block;
	}

	.left > .navbar-header{
		display: none;
	}

	header > .pull-md-right{
	  display: block;
	}

	.pull-md-right{
		float: right;
	}

	.pull-md-right > form{
		background: transparent;
	}

	header > .pull-md-right >form > .none{
		display: none;
	}

	.pull-md-right > .navbar-form{
		padding: 0;
}

	.icon-search{
		display: block;
	}

	.form-group{
		float: left;
	}

	#nav-main-menu{
		background: none;
		height: auto;
		width: 100%;
	}

	.right, .pull-md-right{
		margin-top: 5%;
	}
	.navbar-collapse{
		margin-top: 5%;
	}


	.navbar-brand-logo{
		width: 85%;
	}

	.my-form-group{
		float: none;
	}

	.search-advanced{
			clear: both;
		}

	#menu-desplegable{
	position: static;
	float: none;
	width: auto;
	margin-top: 0;
	background-color: transparent;
	border: 0;
	box-shadow: none;
	}

}
@media (max-width: 930px){

	.login_elementos{
		flex-direction: column;
	}
	.login_elementos .registro, .login_elementos .login{
		width: 100%;
	}
	.login_elementos .registro{
		min-height: auto;
		height: auto;
	}
	.login_elementos .login{
		height: auto;
	}
	#register{
		margin:0;
		padding: 0 !important;
	}
}

@media (min-width: 767px){
	.footer{
		width: calc(100% - 235px);
		/*margin-left: 235px;*/
	}

}
@media (max-width: 992px){
	.img-logo{
		margin-top: -7em;
	}
}
@media (min-width: 540px){
	.current_issue{

	}

}
@media (max-width: 539px){
	.footer{
		height: 265px;
		padding: 10px !important;
		position: relative;
	}
	.img-logo{
		float: none;
		margin-top: 1.5em;

	}
	.container{
		margin-bottom: 0;
	}
	.row{
		margin: 0;
	}
	.issues-compendium .issue-summary {
		    flex: 1 1 46%;
    margin: 0 2%;
	}
	.compendium-publicaciones{
		margin-left: 0;
	}

	.icon-bar{
		width: 100% !important;
    height: 2px !important;
	}

  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px !important;
	}
	.navbar-brand {
    padding: 0px 0px;
}

	.right, .pull-md-right{
		clear: both!important;
		margin-top: 5px;
	}
}


@media (max-width: 830px){
	.compendium-numero-actual{
		display: flex;
		flex-direction: column;
	}
	.compendium-numero-actual .info-actual{
      	width: auto;
	    -ms-align-self: center;
		align-self: center;
	}
}

@media (max-width: 767px) and (min-width: 540px){ 
	.pull-md-right {
		/margin-top: 0;
	}
	.navbar .right{
		/margin-top: 0;
	}
	.navbar .container-fluid{
		/width: 100%;
	}
	.navbar .pull-md-right {
		margin-top: 4.2em;
	}

}
@media (max-width: 539px) {
	.container-fluid.right{
		width: 100%;
	}
	.login.btn_send{
		margin: 1em auto;
	}
	#navigationUser{
		width: 100%;
	}
	.nav-pills > li{
		float: none;
	}
}