@media (max-width: 767px){
	.pkp_structure_main{
		width: 100%;
	}
	.current_issue, .journal-description {
	    padding: 0px 10px;
	}
	#main-navigation{
		width: 100%;
		height: inherit;
		margin:0;
		background: #007bc4 !important;
	}
	.telefono{
		margin-top: 0;
	}

	header > .right{
		float: left;
	}

	.mynavbar{
		float: right;
		width: 100%;
	}

	.pkp_structure_page > .mynavbar{
		display: none;
	}

	.site-name img{
		display: none;
	}

	.mynavbar .navbar-header{
	  display: block;
	}

	.left > nav {
	  display: block;
	}

	.left > .navbar-header{
		display: none;
	}

	header > .pull-md-right{
	  display: block;
	}

	.pull-md-right{
		float: right;
	}

	.pull-md-right > form{
		background: transparent;
	}

	header > .pull-md-right >form > .none{
		display: none;
	}

	.pull-md-right > .navbar-form{
		padding: 0;
	}
	.pull-md-right, .right{
		margin-top: 20px;
	}

	.icon-search{
		display: block;
	}

	.form-group{
		float: left;
	}

}
@media (min-width: 767px){


}
@media (max-width: 992px){
	.img-logo{
		margin-top: -7em;
	}
}
@media (min-width: 540px){
	.current_issue{
	  margin-bottom: 175px;
	}
}
@media (max-width: 539px){
	.footer{
		height: 265px;
		padding: 10px !important;
		position: relative;
	}
	.img-logo{
		float: none;
		margin-top: 1.5em;

	}
	.container{
		margin-bottom: 0;
	}
	.row{
		margin: 0;
	}
	.issues-compendium .issue-summary {
		    flex: 1 1 46%;
    margin: 0 2%;
	}
	.compendium-publicaciones{
		margin-left: 0;
	}

}
